<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IExchangeMessageService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61100/ExchangeMessageService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchangeMessageService"
                contract="MessageTextService.IExchangeMessageService" name="BasicHttpBinding_IExchangeMessageService" />
        </client>
    </system.serviceModel>
</configuration>